Hola <b>Guillermo Quinteros</b>
<br>
<br>
<br>
La tarea <b>"Fotos notariales"</b> correspondiente a <b>"Concepto Pacific"</b> esta a punto de cumplir su plazo máximo.
<br>
<br>
<br>
Atte.
<br>
<b>GESCON</b>