<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Inmobiliaria Imagina{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('bundles/app/img/favicon.png') }}">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="{{ asset('bundles/app/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/animate.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/style.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/style-responsive.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/theme/blue.css') }}" rel="stylesheet" id="theme" />
    <link href="{{ asset('bundles/app/chosen/chosen.min.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{{ asset('bundles/app/plugins/pace/pace.min.js') }}"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <a href="{{path('homepage') }}" class="navbar-brand">
                    <img alt="" src="{{ asset('bundles/app/img/logo_navbar.png') }}">
                </a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end mobile sidebar expand / collapse button -->
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
        <!-- begin sidebar scrollbar -->
        <div data-scrollbar="true" data-height="100%">
            <!-- begin sidebar user -->
            <ul class="nav">
                <li class="nav-profile">
                    <div class="image">
                        {% if app.user.avatar %}
                            <a href="javascript:;"><img src="{{ asset("uploads/avatars/") ~ app.user.avatar }}" alt="" /></a>
                        {% else %}
                            <a href="javascript:;"><img src="{{ asset('bundles/app/img/default_avatar.png') }}" alt="" /></a>
                        {% endif %}
                    </div>
                    <div class="info">
                        {{ app.user.nombres }} {{ app.user.apellidos }}
                        <small>Administrador</small>
                    </div>
                </li>
            </ul>
            <!-- end sidebar user -->
            <!-- begin sidebar nav -->
            <ul class="nav">
                <li class="nav-header">Menú</li>
                <li id="menu-li-home"><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
                <li id="menu-li-obras"><a href="{{ path('app_obra_index') }}"><i class="fa fa-building"></i> <span>Obras</span></a></li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="fa fa-signal"></i>
                        <span>Reportes</span>
                    </a>
                    <ul class="sub-menu">
                        <li id="menu-li-rendimiento-cumplimientos"><a href="{{ path('rendimiento_cumplimiento') }}">Avance / Rendimiento</a></li>
                        <li id="menu-li-comparacion-obras"><a href="{{ path('reportes_index') }}">Comparacion Obras</a></li>
                        <li id="menu-li-supervisores"><a href="{{ path('supervisor_comparar_index') }}">Comparacion Supervisores</a></li>
                        <li id="menu-li-acumulado"><a href="{{ path('acumulado_index') }}">Acumulado</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="fa fa-suitcase"></i>
                        <span>Administración</span>
                    </a>
                    <ul class="sub-menu">
                        {#<li id="menu-li-estados"><a href="{{ path('app_estado_index') }}">Estados</a></li>#}
                        <li id="menu-li-obras"><a href="{{ path('app_obra_index') }}">Obras</a></li>
                        <li id="menu-li-tareas"><a href="{{ path('app_tarea_index') }}">Tareas</a></li>
                        <li id="menu-li-usuarios"><a href="{{ path('usuario') }}">Usuarios</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> <span>Salir</span></a></li>
                <!-- begin sidebar minify button -->
                <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                <!-- end sidebar minify button -->
            </ul>
            <!-- end sidebar nav -->
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin page-header -->
        {% block header %}
        {% endblock %}
        <!-- end page-header -->
        {% block body %}
        {% endblock %}
    </div>
    <!-- end #content -->
    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="{{ asset('bundles/app/plugins/jquery/jquery-1.9.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/plugins/jquery/jquery-migrate-1.1.0.min.js') }}"></script>
<script src="{{ asset('bundles/app/plugins/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bundles/app/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/chosen/chosen.jquery.min.js') }}"></script>
<!--[if lt IE 9]>
<script src="{{ asset('bundles/app/crossbrowserjs/html5shiv.js') }}"></script>
<script src="{{ asset('bundles/app/crossbrowserjs/respond.min.js') }}"></script>
<script src="{{ asset('bundles/app/crossbrowserjs/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ asset('bundles/app/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('bundles/app/plugins/bootstrap-wizard/js/external/jquery.cookie.js') }}"></script>
{% block javascripts %}{% endblock %}
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{{ asset('bundles/app/js/apps.min.js') }}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    $(document).ready(function() {
        App.init();
    });
</script>
</body>
</html>
