{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .tareas-atrasadas {
            cursor : pointer;
        }
    </style>
{% endblock %}
{% block body %}
 <div class="row">
    <div class="col-md-2 col-sm-6">
        <div class="widget widget-stats bg-green">
            <div class="stats-icon"><i class="fa fa-desktop"></i></div>
            <div class="stats-info">
                <h4>TARAS COMPLETADAS</h4>
                <p>{{ checklistsCompletados|length }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6">
        <div class="widget widget-stats bg-green">
            <div class="stats-icon"><i class="fa fa-chain-broken"></i></div>
            <div class="stats-info">
                <h4>TAREAS PENDIENTES</h4>
                <p>{{ checklistsPendientes|length }}</p>
            </div>
        </div>
    </div>
     {% set nAtrasadas = 0 %}
     {% for checklist in checklistsPendientes %}
         {% if checklist.fechaComprometida < date() %}
              {% set nAtrasadas = nAtrasadas +1 %}
         {% endif %}
     {% endfor %}
     {% set total_tareas =  checklistsCompletados|length + checklistsPendientes|length %}
     {% set porcentaje_atrasos = (nAtrasadas*100)/total_tareas %}
    <div class="col-md-2 col-sm-6 tareas-atrasadas">
        <div class="widget widget-stats bg-red">
            <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
            <div class="stats-info">
                <h4> TAREAS ATRASADAS</h4>
                <p>{{ nAtrasadas }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6">
        <div class="widget widget-stats bg-blue">
            <div class="stats-icon"><i class="fa fa-bar-chart"></i></div>
            <div class="stats-info">
                <h4> % AVANCE</h4>
                <p>{{ cumplimiento }}%</p>
            </div>
        </div>
    </div>
     <div class="col-md-2 col-sm-6">
         <div class="widget widget-stats bg-orange">
             <div class="stats-icon"><i class="fa fa-tachometer"></i></div>
             <div class="stats-info">
                 <h4> % RENDIMIENTO</h4>
                 <p>{{ 100 - porcentaje_atrasos|round(1, 'floor') }}%</p>
             </div>
         </div>
     </div>
     <div class="col-md-2 col-sm-6">
         <div class="widget widget-stats bg-blue">
             <div class="stats-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
             <div class="stats-info">
                 <h4><i class="fa fa-calendar" aria-hidden="true"></i> {{ 'now'|date('d-m-Y') }}</h4>
                 {#<p><div id="clock"></div></p>#}
                 <p><span id="clock"></span></p>
             </div>
         </div>
     </div>
 </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="table-basic-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Proyectos</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Responsable</th>
                            <th class="col-md-6"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obra in obras %}
                            <tr>
                                <td>{{ obra.nombre }}</td>
                                <td>{{ obra.nombres }} {{ obra.apellidos }}</td>
                                <td>
                                    <div class="progress">
                                        {% if obra.porcentaje != 0 %}
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ obra.porcentaje }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ obra.porcentaje }}%;">
                                                <strong>{{ obra.porcentaje }}%</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="table-basic-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Últimas Actualizaciones</h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nombre proyecto</th>
                            <th>Tarea</th>
                            <th>Fecha</th>
                            <th class="col-md-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for checklist in checklists %}
                            <tr>
                                <td>{{ checklist.obra.nombre }}</td>
                                <td>{{ checklist.tarea.nombre }}</td>
                                <td>{{ checklist.fechaCompletado|date('d-m-Y') }}</td>
                                <td><i class="fa fa-check-circle"></i></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('bundles/app/plugins/jquery/jquery-1.9.1.min.js') }}"></script>
    <script>
        $('#menu-li-home').addClass('active').closest('.has-sub').addClass('active');
    </script>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).on('ready', function() {
            startTime();

            $('.tareas-atrasadas').live('click', function(e) {
                var path = "{{ path('list_tareas_atrasadas') }}";

                window.location.href = path;
            });
        });
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('clock').innerHTML =
                    h + ":" + m;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i} // add zero in front of numbers < 10
            return i;
        }
    </script>
{% endblock %}
