<hr>
<h2><small><i class="fa fa-calendar"></i> Añadiendo tareas - {{ "now"|date("d/m/Y") }}</small></h2>
<hr>
<div class="panel panel-body panel-inverse">
    <form action="" id="formulario-tareas" name="formulario-tareas">
        <table id="table-entities" class="table table-bordered table-condensed">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Adjunto Requerido</th>
                <th class="col-md-1"> Fecha Limite</th>
            </tr>
            </thead>
            <tbody>

                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.nombre }}</td>
                        <td>
                        {% if entity.isAttachmentRequired %}
                            <a target="_blank" class="btn btn-white btn-block disabled"><i class="fa fa-cloud-download" aria-hidden="true"></i> Si</a>
                        {% else %}
                            <a class="btn btn-white btn-block disabled"><i class="fa fa-file"></i> No</a>
                        {% endif %}
                        </td>
                        <td>
                            <div class="col-md-6">
                                <input id="fechaComprometida-{{ entity.id }}" name="fechaComprometida-{{ entity.id }}" type="text" class="form-control datepicker">
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </form>
</div>
<a onclick="guardarTareas()" class="btn btn-success btn-block"><i class="fa fa-check-circle"></i> Asignar Tareas</a>
<script src="{{ asset('bundles/app/datepicker/js/moment.js') }}"></script>
<script src="{{ asset('bundles/app/datepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript">
    setTimeout(function () {
        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    }, 100);
</script>