{% extends '::base.html.twig' %}
{% block stylesheet %}
    <link href="{{ asset('bundles/app/plugins/DataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/plugins/morris/morris.css') }}" rel="stylesheet">
{% endblock %}
{% block header %}
    <h1 class="page-header"> <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Biblioteca : <small>{{ obra.nombre }}</small></h1>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Listado </h4>
                </div>
                {% if checklists is not empty %}
                <div class="panel-body">
                    <div id="results" class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Archivo</th>
                                <th class="col-md-1">Descargar</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in checklists %}
                                <tr>
                                    <td>{{ entity.tarea.nombre }}</td>
                                    <td>
                                        <a class="btn btn-info btn-block"  >
                                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Descargar
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                    <br>
                    <br>
                    <h3><center><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> La obra aun no cuenta con ningun archivos</center></h3>
                    <br>
                    <br>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/charts/loader.js') }}"></script>
    <script src="{{ asset('bundles/app/charts/Chart.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/morris/raphael.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/morris/morris.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/bootbox-4.3.0/bootbox.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/datatable/datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/masked-input/masked-input.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/fncrud.js') }}"></script>
{% endblock %}
