<div class="table">
{% for val in values %}
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-building fa-fw"></i></div>
            <div class="stats-title">{{ val.nombre }}</div>
            <div class="stats-title"><br></div>
            <div class="stats-title">Tareas Completadas</div>
            <div class="stats-number">{{ val.completados }}</div>
            <div class="stats-title">Tareas Totales</div>
            <div class="stats-number">{{ val.total }}</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width: {{ val.porcentaje }}%;"></div>
            </div>
            <div class="stats-desc"><i class="fa fa-signal fa-fw"></i> Rendimiento ({{ val.porcentaje }}%)</div>
            <div class="stats-desc"><i class="fa fa-user fa-fw"></i> {{ val.nombres }} {{ val.apellidos }}</div>
        </div>
    </div>
{% endfor %}
</div>