<form id="the-form" action="">
    <div class='row'>
        <div class='col-sm-12'>
            <div class='form-group'>
                Observación
                <textarea id="observacion" name="observacion" class="form-control" rows="3"></textarea>
            </div>
        </div>
    </div>
    {% if tarea.isAttachmentRequired %}
    <div class='row'>
        <div class='col-sm-12'>
            <div class='form-group'>
                Archivo
                <input id="file" name="file" type="file" class="form-control">
            </div>
        </div>
    </div>
</form>
{% endif %}