<form id="the-form" action="">
    <div class='row'>
        <div class='col-sm-12'>
            <div class='form-group'>
                Fecha
                <input id="fecha" name="fecha" class="form-control datepicker" value="{{ fecha }}">
            </div>
        </div>
    </div>
</form>
<script src="{{ asset('bundles/app/datepicker/js/moment.js') }}"></script>
<script src="{{ asset('bundles/app/datepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript">
    setTimeout(function () {
        $('.datepicker').datetimepicker({
            format: 'DD-MM-YYYY'
        });
    }, 100);
</script>