{% extends '::base_ajax.html.twig' %}
{% block body -%}
    <div id="content-form">
        <form id="the-form" action="{{ path('app_obra_edit', { id: entity.id }) }}" method="POST">
            <div class="panel">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label ui-sortable">Nombre</label>
                            <div class="col-md-9 ui-sortable">
                                {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label ui-sortable">Dirección</label>
                            <div class="col-md-9 ui-sortable">
                                {{ form_widget(form.direccion, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label ui-sortable">Responsable</label>
                            <div class="col-md-9 ui-sortable">
                                {{ form_widget(form.responsable, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <hr>
                        <a class="btn btn-block btn-danger" onclick="deleteElement({{ entity.id }})"><i class="fa fa-times" aria-hidden="true"></i> Eliminar Obra</a>
                    </div>
                </div>
                <div class="hide">{{ form_rest(form) }}</div>
            </div>
        </form>
    </div>
{% endblock %}