{% extends '::base_ajax.html.twig' %}
{% block body -%}
    <div id="content-form">
        <form id="the-form" action="{{ path('app_obra_new') }}" method="POST">
            <div class="panel">
                <div class="panel-body">
                    {{ app_macros.app_style_form(form) }}
                </div>
            </div>
        </form>
    </div>
    <script src="{{ asset('bundles/app/datepicker/js/moment.js') }}"></script>
    <script src="{{ asset('bundles/app/datepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript">
        setTimeout(function () {
                $('input[datepicker]').datetimepicker({
                    format: 'DD/MM/YYYY'
                });
        }, 100);
    </script>
{% endblock %}