{% block body %}
<span id="idObra" class="hide">{{ entity.id }}</span>
<h1 class="page-header">
    <i class="fa fa-building"></i> {{ entity.nombre }} <small>{{ entity.direccion }}</small>
</h1>
<hr>
<h2><i class="fa fa-user"></i> <small> Responsable : {{ entity.responsable.fullName }}  - <i class="fa fa-envelope"></i> <a href="mailto:{{ entity.responsable.email }}?Subject={{ entity.nombre }}" target="_top">Enviar email</a></small></h2>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse" data-sortable-id="table-basic-1">
            <div class="panel-heading">
                <h4 class="panel-title">Rendimiento cumplimiento de tareas - GESCON</h4>
            </div>
            <div class="panel-body">
                <div id="myfirstchart" style="height: 250px;"></div>
                <br>
                <br>
                <br>
                <hr>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>
<a onclick=verDetallesObra({{ entity.id }}); class='btn btn-primary btn-block'> <i class="fa fa-reply"></i> Volver a la Obra</a>
<hr>
<script type="text/javascript">

    var uploads_data3 = [];

    {% for key, derecho2 in derechosGP %}
    uploads_data3.push({ total: '{{ key|truncate(15) }}', v: '{{ derecho2 }}' });
    {% endfor %}

    new Morris.Line({
        element: 'myfirstchart',
        data: [
            { y: '2016-01-01', a: 3, b: 2 },
            { y: '2016-02-01', a: 5,  b: 5 },
            { y: '2016-03-01', a: 7,  b: 6 },
            { y: '2016-04-01', a: 8,  b: 6 },
            { y: '2016-05-01', a: 10,  b: 7 },
            { y: '2016-06-01', a: 11,  b: 10 },
            { y: '2016-07-01', a: 12, b: 11 },
            { y: '2016-08-01', a: 13, b: 13 },
            { y: '2016-09-01', a: 15, b: 15 },
            { y: '2016-10-01', a: 18, b: 15 },
            { y: '2016-11-01', a: 19, b: 15 },
            { y: '2016-12-01', a: 23, b: 20 }
        ],
        xkey: 'y',
        ykeys: ['a', 'b'],
        labels: ['Rendimiento Ideal', 'Rendimiento Real']
    });
</script>
{% endblock %}