<div class="panel-body">
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Responsable</th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.responsable.fullName }}</td>
                {#<td>#}
                {#{% if entity.isFinalizado %}#}
                {#Finalizada#}
                {#{% else %}#}
                {#Pendiente#}
                {#{% endif %}#}
                {#</td>#}
                <td>
                    <a class="btn btn-info btn-block" onclick="verDetallesObra({{ entity.id }})">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Detalles
                    </a>
                </td>
                <td>
                    <a class="btn btn-success btn-block" href="{{ path('biblioteca_ver', { 'id': entity.id }) }}",>
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Biblioteca
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning btn-block" onclick="editElement({{ entity.id }})">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>