{% block body -%}
    <span id="idObra" class="hide">{{ entity.id }}</span>
    <h1 class="page-header">
        <i class="fa fa-building"></i> {{ entity.nombre }} <small>{{ entity.direccion }}</small>
    </h1>
    <div id="subcontent">
        <div class="panel panel-info overflow-hidden">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseIndicadores" aria-expanded="false">
                        <i class="fa fa-plus-circle pull-right"></i>
                        Indicadores
                    </a>
                </h3>
            </div>
            <div id="collapseIndicadores" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <h2><i class="fa fa-user"></i> <small> Responsable : {{ entity.responsable.fullName }}  - <i class="fa fa-envelope"></i> <a href="mailto:{{ entity.responsable.email }}?Subject={{ entity.nombre }}" target="_top">Enviar email</a></small></h2>
                    {% if porcentaje != 0 %}
                        <div class="progress">
                            <div class="progress-bar" style="width: {{ porcentaje }}%">{{ porcentaje }}%</div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="widget widget-stats bg-green">
                                <div class="stats-icon"><i class="fa fa-check-circle"></i></div>
                                <div class="stats-info">
                                    <h4>Tareas Completadas</h4>
                                    <p>{{ checklistCompletados|length }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="widget widget-stats bg-purple">
                                <div class="stats-icon"><i class="fa fa-times-circle"></i></div>
                                <div class="stats-info">
                                    <h4>Tareas Pendientes</h4>
                                    <p>{{ checklists|length - checklistCompletados|length }}</p>
                                </div>
                            </div>
                        </div>
                        {% set nAtrasadas = 0 %}
                        {% for pendiente in checklistPendientes %}
                            {% if pendiente.fechaComprometida < date() %}
                                {% set nAtrasadas = nAtrasadas + 1 %}
                            {% endif %}
                        {% endfor %}
                        <div class="col-md-4 col-sm-6">
                            <div class="widget widget-stats bg-red">
                                <div class="stats-icon"><i class="fa fa-calendar"></i></div>
                                <div class="stats-info">
                                    <h4>Tareas Atrasadas</h4>
                                    <p>{{ nAtrasadas }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a onclick=verRendimientoObraCompleto(); class="btn btn-info btn-block"><i class="fa fa-area-chart"></i> Porcentaje de Avance</a>
                        </div>
                        <hr>
                        <div class="col-md-12">
                            <a onclick=verRendimientoObraCompletoRendimiento('rendimiento'); class="btn btn-info btn-block"><i class="fa fa-area-chart"></i> Porcentaje de Rendimiento</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info" data-sortable-id="ui-general-2">
            <div class="panel-heading">
                <h4 class="panel-title">Tareas</h4>
            </div>
            <div class="panel-body">
                {% if checklists is not empty %}
                    <table id="checklists-table" class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Fecha Limite</th>
                            <th>Dias</th>
                            <th>Descargar Tipo</th>
                            <th>Correo</th>
                            <th>Estado</th>
                            <th>Documento</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set number = 1 %}
                        {% for checklist in checklists %}
                            <tr>
                                <td> {{ number }}</td>
                                <td>{{ checklist.nombre }}</td>
                                <td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a id="{{ checklist.id }}" data-fecha="{{ checklist.fechaComprometida | date('d-m-Y') }}" onclick="editarFecha({{ checklist.id }});" class="btn btn-white btn-block"><i class="fa fa-calendar"></i> {{ checklist.fechaComprometida | date('d-m-Y') }}</a>
                                    {% else %}
                                        <a id="{{ checklist.id }}" data-fecha="{{ checklist.fechaComprometida | date('d-m-Y') }}" class="btn btn-white btn-block disabled"><i class="fa fa-calendar"></i> {{ checklist.fechaComprometida | date('d-m-Y') }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if checklist.fechaComprometida < date() %}
                                        - {{ checklist.restantes }}
                                    {% else %}
                                        {{ checklist.restantes }}
                                    {% endif %}
                                </td>
                                <td>
                                    <center>
                                        {% if checklist.attachmentRequired %}
                                            <a href="{{ app.request.getSchemeAndHttpHost() ~ '/web/uploads/documentos/' ~ checklist.tareaFile }}" target="_blank" class="btn btn-white btn-block"><i class="fa fa-cloud-download" aria-hidden="true"></i> Si</a>
                                        {% else %}
                                            <a class="btn btn-white btn-block disabled"><i class="fa fa-file"></i> No</a>
                                        {% endif %}
                                    </center>
                                </td>
                                <td>
                                    {% if checklist.emailNotification %}
                                        <a class="btn btn-info btn-block" href="mailto:?&amp;subject=Notificación%20de%20Tarea%20-%20Obra%20{{ checklist.nombreObra }}&amp;body={{ app.request.getSchemeAndHttpHost() ~ '/web/uploads/documentos/' ~ checklist.checklistFile }}">
                                            <i class="fa fa-envelope-o"></i> Si</a>
                                    {% else %}
                                        <a class="btn btn-white btn-block disabled"><i class="fa fa-envelope-o"></i> No</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if checklist.finalizado %}
                                        <button type="button" onclick="modificarAtraso({{ checklist.id }})" class="btn btn-disabled btn-success btn-block"><i class="fa fa-check-circle"></i> Completado {% if checklist.tareaAtrasada %}(Con Atraso){% endif %}</button>
                                    {% elseif checklist.fechaComprometida < date() and checklist.finalizado == false %}
                                        <a type="button" onclick="completarTarea({{ checklist.id }})" class="btn btn-danger btn-block"><i class="fa fa-circle-thin"></i> Atrasada</a>
                                    {% else %}
                                        <a type="button" onclick="completarTarea({{ checklist.id }})" class="btn btn-warning btn-block"><i class="fa fa-circle-thin"></i> Pendiente</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if checklist.finalizado and checklist.checklistFile != null %}
                                        <a type="button" href="{{ app.request.getSchemeAndHttpHost() ~ '/web/uploads/checklist/' ~ checklist.checklistFile }}" target="_blank" class="btn btn-success">
                                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                        </a>
                                    {% else %}
                                        <a type="button" target="_blank" class="btn btn-default disabled" disabled>
                                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% set number = number + 1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-warning fade in m-b-15">
                        <strong>Advertencia!</strong>
                        Esta obra aun no cuenta con tareas asignadas.
                    </div>
                    <a class="btn btn-success btn-block" onclick="agregarTareas({{ entity.id }})"><i class="fa fa-plus-circle"></i> Desplegar Tareas</a>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <script>
        $('#menu-li-obras').addClass('active').closest('.has-sub').addClass('active');

        $('#checklists-table').dataTable( {
            "oLanguage": {
                "sUrl": "{{ asset('bundles/app/plugins/datatable/datatables-lang-es.json') }}",
            },
            "paging":   false,
            "ordering": false,
            "info":     false
        });

        function verRendimientoObra(){
            var idObra = $('#idObra').text();

            var path = "{{ path('ver_rendimiento_obra', { 'id': 'idElemento' }) }}";
            path = path.replace("idElemento", idObra);
            $.ajax({
                type: 'GET',
                async: true,
                url: path,
                success: function(results) {
                    $('#content').html(results);
                },
                error: function(e){
                    console.log(e);
                }
            });
        }

        function modificarAtraso(checklist) {
            var path = "{{ path('editar_atraso_checklist', { 'id': 'idElemento' }) }}";
            path = path.replace("idElemento", checklist);
            $.ajax({
                type: 'GET',
                async: true,
                url: path,
                success: function(results) {
                    bootbox.dialog({
                        message: results,
                        buttons: {
                            warning: {
                                label: "<i class='fa fa-reply'></i> Volver",
                                className: "btn-primary",
                                callback: function() {
                                }
                            },
                            success: {
                                label: "<i class='fa fa-check'></i> Confirmar",
                                className: "btn-success",
                                callback: function() {
                                    var path = "{{ path('editar_atraso_checklist', { 'id': 'idElemento' }) }}";
                                    path = path.replace("idElemento", checklist);
                                    $.ajax({
                                        type: 'POST',
                                        async: false,
                                        url: path,
                                        success: function(results) {
                                            if (results == 'success')
                                            {
                                                verDetallesObra($('#idObra').text());
                                            }
                                        },
                                        error: function(e){
                                            console.log(e);
                                        }
                                    });
                                }
                            }
                        }
                    });
                },
                error: function(e){
                    console.log(e);
                }
            });
        }

        function editarFecha(checklist, fecha) {
            var date = $('#'+checklist).data('fecha');
            var path = "{{ path('editar_fecha_checklist', { 'id': 'idElemento' }) }}";
            path = path.replace("idElemento", checklist);
            $.ajax({
                type: 'GET',
                async: true,
                url: path,
                data : {
                    'date' : date
                },
                success: function(results) {
                    bootbox.dialog({
                        message: results,
                        buttons: {
                            warning: {
                                label: "<i class='fa fa-reply'></i> Volver",
                                className: "btn-primary",
                                callback: function() {
                                }
                            },
                            success: {
                                label: "<i class='fa fa-check'></i> Guardar",
                                className: "btn-success",
                                callback: function() {
                                    var date = $('#fecha').val();
                                    var path = "{{ path('editar_fecha_checklist', { 'id': 'idElemento' }) }}";
                                    path = path.replace("idElemento", checklist);
                                    $.ajax({
                                        type: 'POST',
                                        async: false,
                                        url: path,
                                        data: {
                                            'date' : date
                                        },
                                        success: function(results) {
                                            if (results == 'success')
                                            {
                                                verDetallesObra($('#idObra').text());
                                            }
                                        },
                                        error: function(e){
                                            console.log(e);
                                        }
                                    });
                                }
                            }
                        }
                    });
                },
                error: function(e){
                    console.log(e);
                }
            });
        }

        function verRendimientoObraCompleto(){
            var idObra = $('#idObra').text();
            var path = "{{ path('ver_rendimiento_obra_completo', { 'id': 'idElemento' }) }}";
            path = path.replace("idElemento", idObra);
            $.ajax({
                type: 'GET',
                async: true,
                url: path,
                success: function(results) {
                    $('#content').html(results);
                },
                error: function(e){
                    console.log(e);
                }
            });
        }

        function verRendimientoObraCompletoRendimiento(){
            var idObra = $('#idObra').text();

            var path = "{{ path('ver_rendimiento_obra_completo_rendimiento', { 'id': 'idElemento' }) }}";
            path = path.replace("idElemento", idObra);
            $.ajax({
                type: 'GET',
                async: true,
                url: path,
                success: function(results) {
                    $('#content').html(results);
                },
                error: function(e){
                    console.log(e);
                }
            });
        }

        function agregarTareas(id)
        {
            var path = "{{ path('add_tareas') }}";
            $.ajax({
                type: 'GET',
                async: true,
                url: path,
                success: function(results) {
                        $('#subcontent').html(results).fadeIn();
                },
                error: function(e){
                    console.log(e);
                }
            });
        }

        function guardarTareas()
        {
            var id = $('#idObra').text();
            console.log(id);
            var data = $('#formulario-tareas').serializeArray();
            var path = "{{ path('save_tareas') }}";
            $.ajax({
                type: 'POST',
                async: true,
                url: path,
                data: {
                    'form' : data,
                    'id': id
                },
                success: function(results) {
                    if (results == 'success')
                    {
                        verDetallesObra(id);
                    }
                },
                error: function(e){
                    console.log(e);
                }
            });
        }

        function completarTarea(idChecklist)
        {
            var id = $('#idObra').text();
            var path = "{{ path('complete_tareas') }}";
            $.ajax({
                type: 'POST',
                async: true,
                url: path,
                data: {
                    'idChecklist' : idChecklist,
                    'idObra': id
                },
                success: function(results) {
                    bootbox.dialog({
                        message: results,
                        buttons: {
                            warning: {
                                label: "<i class='fa fa-reply'></i> Volver",
                                className: "btn-primary",
                                callback: function() {
                                }
                            },
                            success: {
                                label: "<i class='fa fa-check'></i> Completar",
                                className: "btn-success",
                                callback: function() {
                                    var formData = new FormData($('#the-form')[0]);
                                    var path = "{{ path('save_complete_tareas', { 'id': 'idElemento' }) }}";
                                    path = path.replace("idElemento", idChecklist);
                                    $.ajax({
                                        type: 'POST',
                                        async: true,
                                        url: path,
                                        processData: false,
                                        contentType: false,
                                        data: formData,
                                        success: function(results) {
                                            if (results == 'success')
                                            {
                                                verDetallesObra($('#idObra').text());
                                            }
                                        },
                                        error: function(e){
                                            console.log(e);
                                        }
                                    });
                                }
                            }
                        }
                    });
                },
                error: function(e){
                    console.log(e);
                }
            });
        }

        {#function saveCompletarTarea(idChecklist) {#}
            {#var formData = new FormData($('#the-form')[0]);#}
            {#var path = "{{ path('save_complete_tareas') }}";#}
            {#$.ajax({#}
                {#type: 'POST',#}
                {#async: true,#}
                {#url: path,#}
                {#data: {#}
                    {#idChecklist : idChecklist,#}
                    {#formData: formData#}
                {#},#}
                {#success: function(results) {#}
                    {#if (results == 'success')#}
                    {#{#}
                        {#verDetallesObra($('#idObra').text());#}
                    {#}#}
                {#},#}
                {#error: function(e){#}
                    {#console.log(e);#}
                {#}#}
            {#});#}
        {#}#}
    </script>
{% endblock %}