{% extends '::base.html.twig' %}
{% block stylesheet %}
    <link href="{{ asset('bundles/app/plugins/DataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block header %}
    <h1 class="page-header">Administración <small>Tareas</small></h1>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="#" class="btn btn-xs btn-info btn-add">
                            <i class="fa fa-plus"></i> Añadir
                        </a>
                    </div>
                    <h4 class="panel-title">Listado </h4>
                </div>
                <div class="panel-body">
                    <div id="results" class="table-responsive">
                        {# Results here #}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/plugins/bootbox-4.3.0/bootbox.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/datatable/datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/masked-input/masked-input.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/fncrud-tarea.js') }}"></script>
    <script>
        $(document).on('ready', function() {
            var options = {
                _reload:       "{{ path('app_tarea_results') }}",
                _show:         "{{ path('app_tarea_show', { 'id': 'idElemento' }) }}",
                _new:          "{{ path('app_tarea_new') }}",
                _edit:         "{{ path('app_tarea_edit', { 'id': 'idElemento' }) }}",
                _delete:       "{{ path('app_tarea_delete', { 'id': 'idElemento' }) }}",
                hasDatatable:  true,
                sUrlDatatable: "{{ asset('bundles/app/plugins/datatable/datatables-lang-es.json') }}",
                entityName:    "Tarea"
            };
            initializeCRUD(options);
            $('#menu-li-tareas').addClass('active').closest('.has-sub').addClass('active');
        });
    </script>
{% endblock %}
