{% extends '::base_ajax.html.twig' %}
{% block body -%}
    <div class="panel panel-primary">
        <div class="panel-body">
            <div id="content-form">
                <form id="the-form" action="{{ path('app_tarea_new') }}" method="POST">
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='form-group {% if form.nombre.vars.errors is not empty  %}has-error{% endif %}'>
                                {{ form_label(form.nombre) }}
                                {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                                {% for error in form.nombre.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='form-group {% if form.file.vars.errors is not empty  %}has-error{% endif %}'>
                                {{ form_label(form.file) }}
                                {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
                                {% for error in form.file.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='form-group {% if form.attachment_required.vars.errors is not empty  %}has-error{% endif %}'>
                                {{ form_label(form.attachment_required) }}
                                {{ form_widget(form.attachment_required, { 'attr': {'class': 'form-control'} }) }}
                                {% for error in form.attachment_required.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='form-group {% if form.email_notification.vars.errors is not empty  %}has-error{% endif %}'>
                                {{ form_label(form.email_notification) }}
                                {{ form_widget(form.email_notification, { 'attr': {'class': 'form-control'} }) }}
                                {% for error in form.email_notification.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
            setTimeout(function () {
                $("#appbundle_tarea_file").change(function(){
                    var file = this.files[0];
                    var name = file.name;
                    var size = file.size;
                    var type = file.type;
                    console.log("FILE :" ,file);
                });
            }, 300);
    </script>
{% endblock %}