<div class="panel-body">
    <table id="table-entities" class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Adjunto Requerido</th>
            <th>Email Requerido</th>
            <th class="col-md-1"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{% if entity.isAttachmentRequired%} Si{% else %}No {% endif %}</td>
                <td>{% if entity.emailNotification %} Si{% else %}No {% endif %}</td>
                <td>
                    <a class="btn btn-info btn-block btn-details" data-id="{{ entity.id }}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Detalles
                    </a>
                </td>
                <td>
                    {% if entity.file != null %}
                        <a type="button" href="{{ app.request.getSchemeAndHttpHost() ~ '/web/uploads/documentos/' ~ entity.file }}" target="_blank" class="btn btn-success">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        </a>
                    {% else %}
                        <a type="button" target="_blank" class="btn disabled btn-default" disabled>
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>