{% block body -%}
    <div class="bs-example" data-example-id="table-within-panel">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Tarea</div>
            <!-- Table -->
            <table class="table">
                <tbody>
                <tr>
                    <th>Nombre</th>
                    <td>{{ entity.nombre }}</td>
                </tr>
                <tr>
                    <th>Adjunto Requerido</th>
                    <td>{% if entity.isAttachmentRequired%}<i class="fa fa-file"></i> Requiere de adjunto{% else %}No Requiere{% endif %}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        <strong>{% if entity.emailNotification%}<i class="fa fa-file"></i> Notificacion activa {% else %}Notificacion Desactivada{% endif %}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}