<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>IMAGINA | Login </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="{{ asset('bundles/app/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/animate.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/style.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/style-responsive.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/theme/blue.css') }}" rel="stylesheet" id="theme" />
    <script src="{{ asset('bundles/app/plugins/pace/pace.min.js') }}"></script>
    <style>
        .fondo {
            background: #156589 !important;
        }
        .login-header {
            color: #ffffff !important;
        }
    </style>
</head>
<body class="fondo pace-top">
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<div id="page-container" class="fade">
    <div class="fondo login bg-black animated fadeInDown">
        <div class="login-header">
            <div class="brand">
                <img src="{{ asset('bundles/app/img/logo2.jpg') }}" alt="">
            </div>
            <div class="icon">
                <i class="fa fa-sign-in"></i>
            </div>
        </div>
        <div class="login-content contenido">
            <form method="POST" action="{{ path("fos_user_security_check") }}" class="margin-bottom-0">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group m-b-20">
                    <input type="text" class="form-control input-lg" placeholder="Nombre de Usuario" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div class="form-group m-b-20">
                    <input type="password" class="form-control input-lg" placeholder="Contraseña" id="password" name="_password" required="required" />
                </div>
                <div class="login-buttons">
                    <button type="submit" class="btn btn-info btn-block btn-lg">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{{ asset('bundles/app/plugins/jquery/jquery-1.9.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/plugins/jquery/jquery-migrate-1.1.0.min.js') }}"></script>
<script src="{{ asset('bundles/app/plugins/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bundles/app/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<!--[if lt IE 9]>
<script src="{{ asset('bundles/app/crossbrowserjs/html5shiv.js') }}"></script>
<script src="{{ asset('bundles/app/crossbrowserjs/respond.min.js') }}"></script>
<script src="{{ asset('bundles/app/crossbrowserjs/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ asset('bundles/app/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('bundles/app/plugins/bootstrap-wizard/js/external/jquery.cookie.js') }}"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{{ asset('bundles/app/js/apps.min.js') }}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    $(document).ready(function() {
        App.init();
    });
</script>
</body>
</html>
