<div class="table">
{% for val in values %}
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green">
            <div class="stats-icon stats-icon-lg" style="opacity:1 !important;">
                {#<i class="fa fa-user fa-fw"></i>#}
                {% if val.avatar %}
                    <img class="img-circle" style="width: 70px;cursor: pointer" src="{{ asset("uploads/avatars/") ~ val.avatar  }} " alt="" />
                {% else %}
                    <img class="img-circle" style="width: 70px;cursor: pointer" src="{{ asset('bundles/app/img/default_avatar.png') }}" alt="" />
                {% endif %}
            </div>
            <div class="stats-title">{{ val.nombre }}</div>
            <div class="stats-title"><br></div>
            <div class="stats-title">Tareas Completadas</div>
            <div class="stats-number">{{ val.completados }}</div>
            <div class="stats-title"><br></div>
            <div class="stats-title">Tareas Totales</div>
            <div class="stats-number">{{ val.total }}</div>
            <div class="stats-title"><br></div>
            <div class="stats-title">Tareas Atrasadas</div>
            <div class="stats-number">{{ val.atrasadas }}</div>
            <div class="stats-title"><br></div>
            <div class="stats-title">% Rendimiento</div>
            <div class="stats-number">{{ val.atrasadas }}</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width: {{ val.porcentaje }}%;"></div>
            </div>
            <div class="stats-desc"><i class="fa fa-signal fa-fw"></i> Avance ({{ val.porcentaje }}%)</div>
        </div>
    </div>
{% endfor %}
</div>