{% extends '::base.html.twig' %}
{% block stylesheet %}
<link href="{{ asset('bundles/app/plugins/DataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
<div class="panel panel-info" data-sortable-id="ui-buttons-1" -="">
    <div class="panel-body">
        <div class="col-md-9">
            <select id="usuarios" multiple="" class="form-control" data-placeholder=" Seleccione los supervisores a comparar">
                {% for usuario in usuarios %}
                <option value="{{ usuario.id }}">{{ usuario.nombres }} {{ usuario.apellidos }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <a onclick="comparaUsuarios()" class="btn btn-success"><i class="fa fa-signal"></i> Comparar</a>
        </div>
    </div>
</div>
<div class="panel panel-inverse" data-sortable-id="ui-general-2">
    <div class="panel-heading">
        <h4 class="panel-title">Usuarios</h4>
    </div>
    <div id="results" class="panel-body">
        <center><i style='font-size: 300px;opacity: 0.3' class='fa fa-signal'></i></center>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('bundles/app/plugins/bootbox-4.3.0/bootbox.js') }}"></script>
<script src="{{ asset('bundles/app/plugins/datatable/datatables.min.js') }}"></script>
<script src="{{ asset('bundles/app/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/app/plugins/masked-input/masked-input.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/fncrud.js') }}"></script>
<script>
    $(document).on('ready', function() {
        $('#menu-li-supervisores').addClass('active').closest('.has-sub').addClass('active');
        $('#usuarios').chosen();
    });

    /**
     *
     * @param $obras
     */
    function comparaUsuarios()
    {
        //cambio el contenido del div 'results', por el de cargando.
        $('#results').html("<center><i style='font-size: 100px;' class='fa fa-cog fa-spin'></i><br>Generando...</center>");

        //obras , contiene el total de las obras seleccionadas
        var usuarios = [];
        $('#usuarios :selected').each(function(i, selected){
            usuarios[i] = $(selected).val();
        });
        var path = "{{ path('reportes_supervisor_comparacion') }}";
        $.ajax({
            type: 'POST',
            async: true,
            data: {
                'usuarios': usuarios
            },
            url: path,
            success: function(results) {
                $('#results').html(results);
            },
            error: function(e){
                console.log(e);
            }
        });
    }
</script>
{% endblock %}
