{% extends '::base_ajax.html.twig' %}
{% block body -%}
    <div id="content-form">
        <form id="the-form" action="{{ path('usuario_edit', { id: entity.id }) }}" method="POST">
            <div class="panel">
                <div class="panel-body">
                    {{ app_macros.app_style_form(form) }}
                </div>
            </div>
        </form>
    </div>
    <script>
        setTimeout(function () {
            $('#appbundle_usuario_rolesAuxiliar').chosen({
                placeholder_text_multiple: "Seleccione"
            });
        }, 300);
    </script>
{% endblock %}