<div class="panel-body">
    <table id="table-entities" class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Avatar</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Last Login</th>
            <th>ROL</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {% if entity.avatar %}
                        <div class="image">
                            <a onclick="actualizarAvatar({{ entity.id }})">
                                <img class="img-circle" style="width: 70px;cursor: pointer" src="{{ asset("uploads/avatars/") ~ entity.avatar  }} " alt="" />
                            </a>
                        </div>
                    {% else %}
                        <div class="image">
                            <a onclick="actualizarAvatar({{ entity.id }})">
                                <img class="img-circle" style="width: 70px;cursor: pointer" src="{{ asset('bundles/app/img/default_avatar.png') }}" alt="" />
                            </a>
                        </div>
                    {% endif %}
                </td>
                <td>{{ entity.nombres }} {{ entity.apellidos }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.lastLogin | date('d-m-y') }} a las {{ entity.lastLogin | date('H:i') }}</td>
                <td>
                    {% for rol in entity.roles %}
                        {% if rol != 'ROLE_USER' %}
                            {% if rol == 'ROLE_SUPERVISOR' %}
                                <span class="label label-primary">SUPERVISOR</span>
                            {% endif %}
                            {% if rol == 'ROLE_ADMIN' %}
                                <span class="label label-primary">ADMINISTRADOR</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-info btn-block btn-details" data-id="{{ entity.id }}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Detalles
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function actualizarAvatar(usuario){
        var path = "{{ path('actualizar_avatar_usuario', { 'id': 'idElemento' }) }}";
        path = path.replace("idElemento", usuario);
        $.ajax({
            type: 'GET',
            async: true,
            url: path,
            success: function(results) {
                bootbox.dialog({
                    message: results,
                    buttons: {
                        warning: {
                            label: "<i class='fa fa-reply'></i> Volver",
                            className: "btn-primary",
                            callback: function() {
                            }
                        },
                        success: {
                            label: "<i class='fa fa-check'></i> Guardar",
                            className: "btn-success",
                            callback: function() {
                                var formData = new FormData($('#the-form')[0]);
                                var path = "{{ path('actualizar_avatar_usuario', { 'id': 'idElemento' }) }}";
                                path = path.replace("idElemento", usuario);
                                $.ajax({
                                    type: 'POST',
                                    async: true,
                                    url: path,
                                    processData: false,
                                    contentType: false,
                                    data: formData,
                                    success: function(results) {
                                        if (results == 'success')
                                        {
                                            location.reload();
                                        }
                                    },
                                    error: function(e){
                                        console.log(e);
                                    }
                                });
                            }
                        }
                    }
                });
            },
            error: function(e){
                console.log(e);
            }
        });
    }
</script>