{% block body -%}
    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombres }} {{ entity.apellidos }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Ultima vez activo</th>
                <td>{{ entity.lastLogin|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Rol/es</th>
                <td>
                    {% for rol in entity.roles %}
                        {% if rol != 'ROLE_USER' %}
                            <span class="label label-primary">{{ rol }}</span>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
