{% extends '::base_ajax.html.twig' %}
{% block body -%}
    <div id="content-form">
        <form id="the-form" action="" method="POST">
            <div class="panel">
                <div class="panel-body">
                    <div class='form-group'>
                        Imágen
                        <input id="file" name="file" type="file" class="form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        setTimeout(function () {
           //SOMETHING
        }, 300);
    </script>
{% endblock %}