{% block body %}
    <div class="panel-body">
        {#<div id="myfirstchart" style="height: 250px;"></div>#}
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <br>
        <br>
        <br>
        <hr>
        <table id="table-entities" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Esperado</th>
                <th>Real</th>
                <th>Porcentaje</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in acumulado %}
                {% if value['esperado'] != 0 %}
                    <tr {% if value['porcentaje'] < 100  and value['esperado'] != 0 %} class="danger" {% else %} class="success" {% endif %}>
                        <td>{{ key }}</td>
                        <td>{{ value['esperado'] }}</td>
                        <td>{{ value['real'] }}</td>
                        <td>{{ value['porcentaje'] }} %</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {#<script type="text/javascript">#}
        {#var chart_data = [];#}
        {#{% for key, value in acumulado %}#}
        {#chart_data.push({ y: '{{ key }}', a: '{{ value['esperado'] }}', b: '{{ value['real'] }}' });#}
        {#{% endfor %}#}

        {#new Morris.Line({#}
            {#element: 'myfirstchart',#}
            {#data: chart_data,#}
            {#xkey: 'y',#}
            {#ykeys: ['a', 'b'],#}
            {#labels: ['Avance Ideal', 'Avance Real']#}
        {#});#}
    {#</script>#}
    <script type="text/javascript">
    $(function () {
        var categories = [];
        {% for key, value in acumulado %}
        categories.push('{{ key }}');
        {% endfor %}

        var ideal = [];
        {% for key, value in acumulado %}
        ideal.push(parseInt('{{ value['esperado'] }}'));
        {% endfor %}

        var real = [];
        {% for key, value in acumulado %}
        real.push(parseInt('{{ value['real'] }}'));
        {% endfor %}

        $('#container').highcharts({
            title: {
            text: '',
            x: -20 //center
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                title: {
                text: 'Nº Tareas'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
            },
            tooltip: {
                valueSuffix: 'Tareas'

            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Ideal',
                data: ideal
            }, {
                name: 'Real',
                data: real
            }]
        });
    });
    </script>
{% endblock %}