{% extends '::base.html.twig' %}
{% block stylesheet %}
    <link href="{{ asset('bundles/app/plugins/morris/morris.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/plugins/DataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
    <div class="panel panel-inverse" data-sortable-id="ui-general-2">
        <div class="panel-heading">
            <h4 class="panel-title">Acumulado</h4>
        </div>
        <div id="results" class="panel-body">
            <center><i style='font-size: 300px;opacity: 0.3' class='fa fa-signal'></i></center>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/plugins/morris/raphael.min.js') }}"></script>
    <script src="{{ asset('bundles/app/charts/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/app/charts/exporting.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/morris/morris.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/bootbox-4.3.0/bootbox.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/datatable/datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/masked-input/masked-input.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/fncrud.js') }}"></script>
    <script>
        $(document).on('ready', function() {
            console.log('ijadjaskdas');
            $('#obras').chosen();
            $('#menu-li-acumulado').addClass('active').closest('.has-sub').addClass('active');
            graficaObra();
        });

        /**
         *
         * @param $obras
         */
        function graficaObra()
        {
            $('#results').html("<center><i style='font-size: 100px;' class='fa fa-cog fa-spin'></i><br>Generando...</center>");
            var path = "{{ path('acumulado_result') }}";
            $.ajax({
                type: 'POST',
                async: true,
                url: path,
                success: function(results) {
                    $('#results').html(results);
                },
                error: function(e){
                    console.log(e);
                }
            });
        }
    </script>
{% endblock %}
