{% block body %}
    {% if entity %}
    <h1 class="page-header">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-building"></i> {{ entity.nombre }} <small>{{ entity.direccion }}</small>
    </h1>
    <h2>
        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-user"></i> <small> Responsable : {{ entity.responsable.fullName }}  - <i class="fa fa-envelope"></i> <a href="mailto:{{ entity.responsable.email }}?Subject={{ entity.nombre }}" target="_top">Enviar email</a></small></h2>
    <div class="panel-body">
        {#<div id="myfirstchart" style="height: 250px;"></div>#}
        <br>
        <br>
        <br>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <hr>
        <table id="table-entities" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Esperado</th>
                <th>Real</th>
                <th>Porcentaje</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in obraResult %}
                {% if value['esperado'] != 0 %}
                    <tr {% if value['porcentaje'] < 100  and value['esperado'] != 0 %} class="danger" {% else %} class="success" {% endif %}>
                        <td>{{ key }}</td>
                        <td>{{ value['esperado'] }}</td>
                        <td>{{ value['real'] }}</td>
                        <td>{{ value['porcentaje']|round }} %</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {#<script type="text/javascript">#}
        {#var chart_data = [];#}
        {#{% for key, value in obraResult %}#}
        {#chart_data.push({ y: '{{ key }}', a: '{{ value['esperado'] }}', b: '{{ value['real'] }}' });#}
        {#{% endfor %}#}

{#//        console.log(chart_data);#}

        {#new Morris.Line({#}
            {#element: 'myfirstchart',#}
            {#data: chart_data,#}
            {#xkey: 'y',#}
            {#ykeys: ['a', 'b'],#}
            {#labels: ['Rendimiento Ideal', 'Rendimiento Real']#}
        {#});#}
    {#</script>#}
        <script type="text/javascript">
            $(function () {

                var categories = [];
                {% for key, value in obraResult %}
                categories.push('{{ key }}');
                {% endfor %}

                var ideal = [];
                {% for key, value in obraResult %}
                ideal.push(parseInt('{{ value['esperado'] }}'));
                {% endfor %}

                console.log(ideal);

                var real = [];
                {% for key, value in obraResult %}
                real.push(parseInt('{{ value['real'] }}'));
                {% endfor %}

                console.log(real);


                $('#container').highcharts({
                    title: {
                        text: '',
                        x: -20 //center
                    },
                    xAxis: {
                        categories: categories
                    },
                    yAxis: {
                        title: {
                            text: 'Nº Tareas'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: ' Tareas'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Ideal',
                        data: ideal
                    }, {
                        name: 'Real',
                        data: real
                    }]
                });
            });
        </script>
        {% else %}
            Debe Seleccionar al menos Una Obra
        {% endif %}

{% endblock %}