{% block body %}
    {% if entity %}
    <div class="panel panel-info" data-sortable-id="ui-buttons-1" -="">
        <div class="panel-body">
            <a onclick="verDetallesObra({{ entity.id }});" class="btn btn-block btn-success"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver a la obra</a>
            <hr>
            <div class="col-md-12">
                <h1 class="page-header">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-building"></i> {{ entity.nombre }} <small>{{ entity.direccion }}</small>
                </h1>
                <h2>
                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-user"></i> <small> Responsable : {{ entity.responsable.fullName }}  - <i class="fa fa-envelope"></i> <a href="mailto:{{ entity.responsable.email }}?Subject={{ entity.nombre }}" target="_top">Enviar email</a></small></h2>
                <div class="panel-body">
                    <div id="myfirstchart" style="height: 250px;"></div>
                    <br>
                    <br>
                    <br>
                    <hr>
                    <table id="table-entities" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Esperado</th>
                            <th>Real</th>
                            <th>Porcentaje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in obraResult %}
                            {% if value['esperado'] != 0 %}
                                <tr {% if value['porcentaje'] < 100  and value['esperado'] != 0 %} class="danger" {% else %} class="success" {% endif %}>
                                    <td>{{ key }}</td>
                                    <td>{{ value['esperado'] }}</td>
                                    <td>{{ value['real'] }}</td>
                                    <td>{{ value['porcentaje']|round }} %</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var chart_data = [];
        {% for key, value in obraResult %}
        chart_data.push({ y: '{{ key }}', a: '{{ value['esperado'] }}', b: '{{ value['real'] }}' });
        {% endfor %}

        new Morris.Line({
            element: 'myfirstchart',
            data: chart_data,
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['Avance Ideal', 'Avance Real']
        });
    </script>
        {% else %}
            Debe Seleccionar al menos Una Obra
        {% endif %}
{% endblock %}