{% extends '::base.html.twig' %}
{% block stylesheet %}
    <link href="{{ asset('bundles/app/plugins/morris/morris.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/plugins/DataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
    <div class="panel panel-info" data-sortable-id="ui-buttons-1" -="">
        <div class="panel-body">
            <div class="col-md-6">
                <select id="obra" class="form-control">
                    <option selected disabled >Seleccione una Obra</option>
                    {% for obra in obras %}
                        <option value="{{ obra.id }}">{{ obra.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            {#<div class="col-md-2">#}
                {#<a onclick="graficaObra()" class="btn btn-block btn-success"><i class="fa fa-signal"></i> 12 Meses</a>#}
            {#</div>#}
            <div class="col-md-3">
                <a onclick="graficaObraCompleto()" class="btn btn-block btn-info"><i class="fa fa-signal"></i> Avance</a>
            </div>
            <div class="col-md-3">
                <a onclick="graficaObraCompletoRendimiento()" class="btn btn-block btn-success"><i class="fa fa-signal"></i> Rendimiento</a>
            </div>
        </div>
    </div>
    <div class="panel panel-inverse" data-sortable-id="ui-general-2">
        <div class="panel-heading">
            <h4 class="panel-title">Obras</h4>
        </div>
        <div id="results" class="panel-body">
            <center><i style='font-size: 300px;opacity: 0.3' class='fa fa-signal'></i></center>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/plugins/morris/raphael.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/morris/morris.js') }}"></script>
    <script src="{{ asset('bundles/app/charts/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/app/charts/exporting.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/bootbox-4.3.0/bootbox.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/datatable/datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/masked-input/masked-input.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/fncrud.js') }}"></script>
    <script>
        $(document).on('ready', function() {
            $('#menu-li-rendimiento-cumplimientos').addClass('active').closest('.has-sub').addClass('active');
            console.log('ijadjaskdas');
            $('#obras').chosen();
        });

        /**
         *
         * @param $obras
         */
        function graficaObra()
        {
            var idObra = $('#obra').val();
            if (!idObra) {
                $('#results').html("<center><br>Debe seleccionar una obra...</center>");
                return false;
            }

            $('#results').html("<center><i style='font-size: 100px;' class='fa fa-cog fa-spin'></i><br>Generando...</center>");

            var path = "{{ path('rendimiento_cumplimiento_result') }}";
            $.ajax({
                type: 'POST',
                async: true,
                data: {
                    'obra': idObra
                },
                url: path,
                success: function(results) {
                    $('#results').html(results);
                },
                error: function(e){
                    console.log(e);
                }
            });
        }

        /**
         *
         * @param $obras
         */
        function graficaObraCompleto()
        {
            var idObra = $('#obra').val();
            if (!idObra) {
                $('#results').html("<center><br>Debe seleccionar una obra...</center>");
                return false;
            }

            $('#results').html("<center><i style='font-size: 100px;' class='fa fa-cog fa-spin'></i><br>Generando...</center>");
            var path = "{{ path('rendimiento_cumplimiento_completo_result') }}";
            $.ajax({
                type: 'POST',
                async: true,
                data: {
                    'obra': idObra
                },
                url: path,
                success: function(results) {
                    $('#results').html(results);
                },
                error: function(e){
                    console.log(e);
                }
            });
        }

        /**
         *
         * @param $obras
         */
        function graficaObraCompletoRendimiento()
        {
            var idObra = $('#obra').val();
            if (!idObra) {
                $('#results').html("<center><br>Debe seleccionar una obra...</center>");
                return false;
            }

            $('#results').html("<center><i style='font-size: 100px;' class='fa fa-cog fa-spin'></i><br>Generando...</center>");
            var path = "{{ path('rendimiento_cumplimiento_completo_result_rendimiento') }}";
            $.ajax({
                type: 'POST',
                async: true,
                data: {
                    'obra': idObra
                },
                url: path,
                success: function(results) {
                    $('#results').html(results);
                },
                error: function(e){
                    console.log(e);
                }
            });
        }
    </script>
{% endblock %}
