{% extends '::base_ajax.html.twig' %}
{% block body -%}
    <div id="content-form">
        <form id="the-form" action="{{ path('app_estado_new') }}" method="POST">
            <div class="panel">
                <div class="panel-body">
                    {{ app_macros.app_style_form(form) }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}