<div class="panel-body">
    <table id="table-entities" class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>
                    <a class="btn btn-info btn-block btn-details" data-id="{{ entity.id }}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Detalles
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>