{% block body -%}
    <div class="bs-example" data-example-id="table-within-panel">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Unidad</div>
            <!-- Table -->
            <table class="table">
                <tbody>
                <tr>
                    <th>Nombre</th>
                    <td>{{ entity.nombre }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}